<div class="container-fluid">
  <div class="jumbotron pt-5 pb-5">
    <h2 class="display-5">Tree of Life Demo</h2>
    <p class="lead">This is a simple demo of consuming Tree of Life API from: 
      <a href="https://github.com/OpenTreeOfLife/germinator/wiki/Synthetic-tree-API-v3" target="_blank">https://github.com/OpenTreeOfLife/germinator/wiki/Synthetic-tree-API-v3</a>
    </p>
    <hr class="my-3">
    <p><span class="font-weight-bold">Important Note:</span> It was not possible to get the subtree of "Cellular Organism". When requesting the data we got the following error:</p>
    <div class="alert alert-danger" role="alert">
      Error: The requested subtree is too large to be returned via the API.
    </div>
  </div>

  <h3>Tree:</h3>

  <div class="node alert alert-info text-capitalize">
    <div *ngIf="tree">
      <span class="font-weight-bold">Node:</span>
      <a routerLink="/node/{{tree.root.node_id}}"
        mat-raised-button
        matTooltip="{{getTooltipData(tree.root.taxon)}}"
        matTooltipClass="node-tooltip"
        matTooltipPosition="right">
        {{tree.root.taxon.name}}
      </a>
    </div>

    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>