<div class="container-fluid">
  <div *ngIf="treeNode" class="card">
    <div class="card-body">
      <h4 class="card-title">{{treeNode.taxon.name | uppercase}}</h4>
      <p class="card-text mb-1"><span class="font-weight-bold">Node ID: </span>{{treeNode.node_id}}</p>
      <p class="card-text mb-1"><span class="font-weight-bold">Taxon Name: </span>{{treeNode.taxon.name}}</p>

      <button (click)="goBack()" type="button" class="btn btn-outline-info mt-2">Back</button>
    </div>
  </div>
</div>